name: Integration test for Kubernetes API

on:
  pull_request:
  push:
    branches:
      - master
    tags-ignore: [ v.* ]

jobs:
   integration-test:
    name: Integration Tests for Kubernetes API
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Set up JDK adopt@1.11.0-9
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11.0-9

      - name: Cache Coursier cache
        uses: coursier/cache-action@v5

      - name: Start docker
        run: |-
          ./scripts/setup-minikube-for-linux.sh  
          kubectl create namespace lease
          kubectl apply -f ./lease-kubernetes/lease.yml
          kubectl proxy --port=8080 
          sbt ";lease-kubernetes/it:test"
          ./lease-kubernetes-int-test/minikube-test.sh

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
